---
import AboutLayout from "../layouts/AboutLayout.astro";
import "../styles/about-section.css"
---

<AboutLayout>
  <h2 class="about__titulo--post post__titulo">
    Ariel  <span class="span__dark" id="span-titulo2"> Manuel </span> Naranjo 
  </h2>
  <p>
    Soy un estudiante de Desarrollo de software  por eso me considero un full  stack porque ,
     he trabajado  en el desarrollo del lado del cliente (front-end) como en el desarrollo del lado del servidor (back-end).Soy capaz de trabajar en todas las capas de una aplicación, desde la interfaz de usuario hasta la base de datos.
  </p>
  <p>
    Soy un estudiante de Desarrollo de software  por eso me considero un full  stack porque , he trabajado  en el desarrollo del lado del cliente (front-end) como en el desarrollo del lado del servidor (back-end).
    Soy capaz de trabajar en todas las capas de una aplicación, desde la interfaz de usuario hasta la base de datos.
  </p>
  <p>
    Actualmente sigo en curso con la carrera de Desarrollo de Software en el  Instituto Tecnológico de las Américas
     y me aprendido sobre diseño centrado en el usuario , algoritmos , matemáticas , informática , Base de Datos avanzada , gestión de proyectos , minería de datos , bit data , análisis y diseño de sistemas y por ultimo pero no menos importante programación  en las cuales he aprendido a trabajar con  proyectos de consola, escritorio , web , y api , pero todavía me faltan mas materias por tomar en las que aprenderé muchas cosas nuevas aparte de los conocimientos ya adquiridos.
  </p>
</AboutLayout>


