---
import "../styles/components/about-home.css"
---

<div class="card__about">
    <div class="card-photo">
        <img class="about__img--src" src="./img/Formar1.png" alt="" />
    </div>
    <div class="card-title">
        <p>Ariel Naranjo De La Cruz </p>
        <span>Full-Stack Developer</span>
    </div>
    <div class="card-socials">
        <a
            class="card-socials-btn facebook"
            href="./docs/Ariel__Naranjo__-_Full_Stack_Developer.pdf"
            target="_blank">
            <img class="about__icons" src="./svg/pdf-solid.svg" alt="A" />
        </a>
        <a
            class="card-socials-btn"
            href="https://github.com/The-Manuel-G"
            target="_blank"
            rel="nofollow noreferrer noopener">
            <img
                class="about__icons"
                src="./svg/github-light.svg"
                alt="icono GitHub"
                data-name="Layer 21"
                id="Layer_21"
            />
        </a>
        <a
            class="card-socials-btn icon"
            href="https://www.linkedin.com/in/ariel-naranjo-281623232/"
            target="_blank"
            rel="nofollow noreferrer noopener">
            <img
                class="about__icons"
                src="./svg/linkedin.svg"
                alt="icono linkedin"
                data-name="Layer 21"
                id="Layer_21"
            />
        </a>
    </div>
</div>