---

import "../styles/components/hero.css"
---

 <section class="hero" id="hero">
    <div class="hero__contenedor">
        <div class="hero__saludo">
            <h1 class="hero__titulo" id="titulo-saludo" data-section="hero" data-value="heroTitulo">Hi! I'm
                Ariel<span class="flicker-in-1 span__dark">Naranjo</span> </h1>
            <h2 class="hero__subtitulo" id="subtitulo" data-section="hero" data-value="heroSubtitulo"> ≥
                Full Stack Developer  <span class="hero__subtitulo--span"></span>Republica Dominicana</h2>
        </div>
        <aside class="side__container">
                <img class="side__img img__ligth" src="./img/Formal2.jpg"
                    alt="Ariel profile photo">
                <img class="side__img img__dark" src="./img/mi.png"
                    alt="Ariel profile photo">
                <img class="side__img img__damage" src="./img/wars.png"
                    alt="Ariel profile photo">

            <div class="social">
                <a class="social__link github icono__dark" href="https://github.com/The-Manuel-G" target="_blank"
                    rel="nofollow noreferrer noopener">
                    <img class="social__icon" width="200" height="120" src="./svg/github-light.svg" alt="GitHub icon">
                </a>
                <a class="social__link alura icono__dark"
                    href="https://app.aluracursos.com/emprega-one/profile/The-Manuel-Dev" target="_blank"
                    rel="nofollow noreferrer noopener">
                    <img class="social__icon" src="./svg/alura.svg" width="200" height="120" alt="Aluura icon">
                </a>

                <a class="social__link linkedin icono__dark" href="https://www.linkedin.com/in/ariel-naranjo-281623232/"
                    target="_blank" rel="nofollow noreferrer noopener">
                    <img class="social__icon " src="./svg/linkedin.svg" width="200" height="120" alt="LinkedIn icon">
                </a>

                <a class="social__link platzi icono__dark" href="https://www.reddit.com/user/DevMaster24/" target="_blank"
                    rel="nofollow noreferrer noopener">
                    <img class="social__icon " src="./svg/reddit.svg" width="200" height="120" alt="Platzi icon">
                </a>
              <!--  <a class="social__link youtube icono__dark"
                    href="https://www.youtube.com/channel/UC36_js-krsAHAEAWpEDhHtw" target="_blank"
                    rel="nofollow noreferrer noopener">
                    <img class="social__icon " src="./svg/youtube-solid.svg"  width="200" height="120" alt="Youtube icon">
                </a> -->
            </div>
        </aside>
    </div>
</section>
